<html>
<head>
    <style type="text/css">
        table.diff  {border:medium;}
        .diff_header {background-color:#e0e0e0}
        td.diff_header {text-align:right}
        .diff_next {background-color:#c0c0c0}
        .diff_add {background-color:#aaffaa}
        .diff_chg {background-color:#ffff77}
        .diff_sub {background-color:#ffaaaa}

        {{ css|safe }} 
        
        body {
            font-family: arial;
            font-size: 1em;
        }
    </style>
</head>
<body>

<strong>Commit</strong>: {{ object.id }}<br />
<strong>Tree</strong>: {{ object.tree }}<br />
<strong>Parent{{ object.parents|pluralize }}</strong>: {{ object.parents|join:", " }}<br />
<strong>Author</strong>: {{ object.author }}

<p>{{ object.message|capfirst|linebreaksbr }}</p>

<h3>Files</h3>
{% for file in files %}
    {{file }}<br />
{% endfor %}


<p>
{% for diff in diffs %}
    {{ diff|safe }}
{% endfor %}

</body>
</html>